<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Coderhouse</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1 class="active">Tu carrito</h1>
    <div class="cajacarrito">
        <div class="cardcarrito">
            <div class="details">
                {{#each products}}
                <p> Titulo:
                    {{this.product.title}}
                </p>
                <p> Precio:
                    {{this.product.price}}
                </p>
                <p> Cantidad:
                    <span id="quantity">{{this.quantity}}</span>
                    <button id="increase-quantity" data-arg1="{{this.product._id}}" data-arg2="{{../cartId}}">+</button>
                    <button id="decrease-quantity" data-arg1="{{this.product._id}}" data-arg2="{{../cartId}}">-</button>
                </p>
                <a><button id="delete-product" data-arg1="{{this.product._id}}" data-arg2="{{../cartId}}">Eliminar
                        producto del carrito</button></a>
                {{/each}}
                <div>
                    <a class="buttons"><button id="boton_cart" data-arg1="{{cartId}}">Finalizar compra</button></a>
                </div>
                <br>
                <div>
                    <a class="buttons" href="/products"><button data-arg1="{{cartId}}">Volver a productos</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/cart.js"></script>
</body>

</html>