<div>
    <h1>Bienvenido, {{user.name}}.</h1>
</div>

<div>
    <h2>Estos son los Usuarios registrados en MONGO</h2>
    {{#each users}}
    <div>
        <p> Nombre:
            {{this.first_name}}
        </p>
        <p> Apellido:
            {{this.last_name}}
        </p>
        <p> Email:
            {{this.email}}
        </p>
        <p> Rol:
            {{this.role}}
        </p>
        <a><button id="update_role_button" data-arg1="{{this._id}}">Cambiar rol</button></a>
        <a><button id="delete_button" data-arg1="{{this._id}}">Eliminar usuario</button></a>
    </div>
    <br>
    {{/each}}
</div>
<script src="/js/deleteusers.js"></script>