<div> 
    {{#if productos}}
    <h1>
        Lista de productos:
    </h1>
    <ul>
        {{#each productos}}
        <li>
            <p>{{this.title}} {{this.description}} {{this.price}} {{this.code}} {{this.stock}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h1>Aun no hay productos en la lista</h1>
    {{/if}}
</div>