<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Coderhouse</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1 class="active"> Lista de productos. </h1>

    <a href="/carts/{{cartId}}" class="buttoncart"><button>Mi carrito</button></a>
    <div class="caja">
        {{#each products}}
        <div class="card">
            <div class="details">
                <p> Titulo:
                    {{this.title}}
                </p>
                <p> Descripcion:
                    {{this.description}}
                </p>
                <div class="pricing">
                    <p> Precio:
                        {{this.price}}
                    </p>
                </div>
                <p> Stock disponible:
                    {{this.stock}}
                </p>
                <p> Categoria:
                    {{this.category}}
                </p>
                <a class="buttons"><button id="addProductToCart" data-arg1="{{this._id}}"
                        data-arg2="{{../cartId}}">agregar a carrito</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="footer">
        <div>
            {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}" class="button"><button>Anterior</button></a>
            {{/if}}
            {{page}}
            {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}" class="button"><button>Siguiente</button></a>
            {{/if}}
        </div>
    </div>
    <div>
        <a class="buttonlogout"><button id="boton_logout">Logout</button></a>
    </div>

    <script src="/js/product.js"></script>
</body>

</html>